<!DOCTYPE html>
<html>
  <head>
    <title>Rubitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <ul>
      <% if user_signed_in? %>
        <li class="a"><%= link_to 'Top', tops_path %></li>
        <li class="a"><%= link_to 'List', murmurs_path %></li>
        <li class="a"><%= link_to 'New', new_murmur_path %></li>
        <li class="a"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>DIC student test application　</p>
  </footer>
</html>
