<%= form_with(model: murmur,local: true, url: choose_new_or_edit) do |form| %>
<% if @murmur.errors.any? %>
  <div id="error_explanation">
    <h2>There are<%= @murmur.errors.count %>errors(T T) </h2>

    <ul>
    <% @murmur.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<br>

<div class="field">
  <h4><%= form.label :content %></h4>
  <%= form.text_area :content %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
